<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
https://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- dao -->
    <bean id="userDao" class="dao.impl.UserDaoByBatis"></bean>
    <!-- services -->
    <bean id="userService" class="service.impl.UserServiceImpl">
        <property name="ud" ref="userDao"/>
    </bean>
</beans>